/* General Rules */
:root{
  --BEE-blue: rgb(15,70,119);
  --BEE-mblue: rgb(41,137,195);
  --BEE-grey: rgb(103,104,103);

  --vogel-blue: rgb(33, 57, 130);
  --vogel-red: rgb(230,0,0);

  --BCE-green: rgb(107, 164, 58);

  --background-base: white;
  --background-light: rgb(229,229,253);
  --background-med: rgb(196, 209, 253);
  --background-dark:rgb(112, 128, 157);

  --highlight-color:rgb(196, 209, 253);

  --text-light: white;
  --text-dark: rgb(73,73,73);
  
  --border-color-1:rgb(126, 126, 126);

  --warning-highlight:rgba(255, 100, 100, 1);
  --hover-highlight:rgba(255, 252, 62, 0.637);
}
*{
  user-select:none;
  box-sizing: border-box;
}

body:hover{
  cursor: default;
}
div::selection{
  background: transparent;
}
/* Inputs */
.vg-checkbox{
    border: 1px solid black;
    height: 15px;
    width: 15px;
    margin: 5px;
    border-radius: 3px;
}
.vg-checkbox-checked{
  background-color: var(--background-light);
}
.vg-checkbox-checked::after{
  content: "\2713";
  position: relative;
  font-weight:bold;
  top:-10px;
}

/* Center Box */
.vg-note-center-box{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(3px 3px 5px black);
}
[id*="q-nav-info-"]{
  display: grid;
  grid-template-columns: 60px 1fr;
  column-gap: 5px;
  background-color: var(--background-base);
  padding: 5px 15px 5px 5px;
  border: 3px solid black;
  align-items: center;
  row-gap: 5px;
}
.info-nav-button{
  height: 35px;
  width: 35px;
  margin: 10px;
}
/* Toast Popouts */
#vg-toast-tr{
  position: fixed;
  background-color: white;
  right:0px;
  top: 20px;
  filter: drop-shadow(3px 3px 5px black);
  z-index: 100;
}
[class*="vg-toast-"]{
  padding:10px 15px;
}
.vg-toast-red{
  background-color: rgba(255,0,0,.25);
  border: 3px solid red;
}
.vg-toast-yellow{
  background-color: rgba(255, 255, 0,.25);
  border: 3px solid yellow;
}
.vg-toast-green{
  background-color: rgba(0,255,0,.25);
  border: 3px solid green;
}
#testbox{
  height: 50px;
  width: 50px;
  background-color: black;
}